[Unit]
Description=yerkopi-web-service
After=network.target

[Service]
User=root
Environment="PATH=/home/yerkopi/web-service:/usr/bin:/usr/local/bin"
WorkingDirectory=/home/yerkopi/web-service
ExecStartPre=/usr/bin/bash script/update.sh
User=root
ExecStart=node server.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
